footer{
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: center;
}

.footer-sections{
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    gap: 4rem;
    border-bottom: 1px solid var(--light-green);
    padding-bottom: 2rem;

    .logo{
        margin-bottom: 1rem;
    }

    h3{
        color: var(--brown);
        text-transform:uppercase;
        margin-bottom: 1rem;
    }

    p, a{
        font-size: 14px;
    }

    a {
        color: inherit;
        margin-bottom: .75rem;
    }
}

#footer-nav{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 760px){
   .footer-sections{
    grid-template-columns: 1fr;
   }
}

@media only screen and (max-width: 500px) {
	footer {
		padding: 2rem 1.25rem;
	}
}