:root {
	--dark-green: #2d5016;
	--brown: #c4a77d;
	--black: #4a5568;
	--orange: #d97706;
	--light-green: #8f9e8b;
	--gray: #e5e4e2;
	--white: #f4f4f0;

	--paragraph: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	--heading: 'Zilla Slab', 'Courier New', Courier, monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--heading);
}

p, a{
	font-family: var(--paragraph);
}

.subheading{
	font-family: var(--paragraph);
	font-size: 20px;
}