:root {
	--dark-green: #2d5016;
	--brown: #c4a77d;
	--black: #4a5568;
	--orange: #d97706;
	--light-green: #8f9e8b;
	--gray: #e5e4e2;
	--white: #f4f4f0;

	--paragraph: Inter, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	--heading: "Zilla Slab", "Courier New", Courier, monospace;

	--white-box-shadow: 0px 0px 32px 4px #0000001a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading);
	color: var(--dark-green);
	padding-bottom: 0.75rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.4rem;
}

p,
a {
	font-family: var(--paragraph);
	font-weight: 300;
}

.subheading {
	font-family: var(--paragraph);
	font-size: 20px;
	font-weight: 400;
}

.container {
	max-width: 1400px;
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 3rem;
	}

	h2{
		font-size: 2.5rem;
	}
}
